<h2 class="login-header">
    Login or Create Account
</h2>
<form id="login-form">
    <div class="login-input-container container">
        <div class="user-container">
            <label for="uname"><b>Email</b></label>
            <input id="username" type="text" placeholder="Enter Email" name="uname" required />
        </div>
        <div>
            <label for="psw"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="psw" required />
        </div>
        <div class="login-btn-container container">
            <button class="login-btn" type="submit">Login</button>
            <button class="register-btn" type="button">
                <a class="reg-btn" href="register">Become a Wanderluster</a>
            </button>
        </div>
    </div>
</form>


<script src="js/homepage.js"></script>