<div class="accReview full-border m-4">
    <p class="revTitle"><strong>"If you go to Seattle, you HAVE to visit Leavenworth"</strong></p><br>
    <p class="revCity"><strong>City: </strong> <span class="cityImport">Seattle, WA</span></p>
    <p class="revRating"><strong>Rating: </strong><span class="rateImport">5</span></p>
    <p class="revCat"><strong>Categories: </strong><span class="catImport">Good Eats, Shopping, Hidden Gem,
            Explore, Relax, Free, Local Brews</span></p>
    <p class="revPlace"><strong>Place: </strong><span class"placeImport">Leavenworth, WA</span></p>
    <p class="revAddrs"><strong>Address: </strong><span class="addrsImport">Leavenworth, WA</span></p>
    <p class="recommend"><strong>Would you recommend this place to a friend? </strong><span class="recImport">Yes</span>
    </p>
    <p class="revcomments"><strong>Convince us we should go: </strong> <span class="commentsImport">"Leavenworth is an
            absolute must see in the fall! It is a cute Bavarian
            style town
            with lots of shopping, good food, and exploring. Also, we went to their Oktoberfest Festival
            which
            is the first 3 weeks of October, and it was so much fun! Just put Leavenworth, WA in your GPS
            and
            GO! It's only a 2 hour drive from Seattle, and is a perfect day trip or a destination all its
            own!"</span>
    </p>
</div>

<div class="accReview full-border m-4">
    <p class="revTitle"><strong>"If you go to Seattle, you HAVE to visit Leavenworth"</strong></p><br>
    <p class="revCity"><strong>City: </strong> <span class="cityImport">Seattle, WA</span></p>
    <p class="revRating"><strong>Rating: </strong><span class="rateImport">5</span></p>
    <p class="revCat"><strong>Categories: </strong><span class="catImport">Good Eats, Shopping, Hidden Gem,
            Explore, Relax, Free, Local Brews</span></p>
    <p class="revPlace"><strong>Place: </strong><span class"placeImport">Leavenworth, WA</span></p>
    <p class="revAddrs"><strong>Address: </strong><span class="addrsImport">Leavenworth, WA</span></p>
    <p class="recommend"><strong>Would you recommend this place to a friend? </strong><span class="recImport">Yes</span>
    </p>
    <p class="revcomments"><strong>Convince us we should go: </strong> <span class="commentsImport">"Leavenworth is an
            absolute must see in the fall! It is a cute Bavarian
            style town
            with lots of shopping, good food, and exploring. Also, we went to their Oktoberfest Festival
            which
            is the first 3 weeks of October, and it was so much fun! Just put Leavenworth, WA in your GPS
            and
            GO! It's only a 2 hour drive from Seattle, and is a perfect day trip or a destination all its
            own!"</span>
    </p>
</div>