<nav>
    <ul>
        <a href ="/"><li>Homepage</li></a>
        <a href="/myaccount"<li>My Account</li></a>
    </ul>
</nav>

<div>
    <div>
        <p1>City Categories</p1>
    </div>
</div>

<div>
    <div>
        <ol>
            <li>Review</li>
            <li>Review</li>
            <li>Review</li>
            <li>Review</li>
            <li>Review</li>
            <li>Review</li>
            <li>Review</li>
        </ol>
    </div>
</div>