<div class="aside top-container">
  <div class="card-header col-md-10">
    <h2>Trending Cities 📈</h2>
  </div>
  <div>
    <ol>
      <li>San Francisco</li>
      <li>Denver</li>
      <li>New York</li>
      <li>Seattle</li>
      <li>Portland</li>
    </ol>
  </div>
</div>

<div class="aside login-container">
  <div class="card-header col-md-10">
    <h2>Login or Create Account</h2>
  </div>
  <form action="action_page.php" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required />

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required />

      <button type="submit">Login</button>
      <label>
  </form>
</div>


<div class="main-container">
  <div class="card-header col-md-10">
    <h2>Feed</h2>
  </div>
  <div>

  </div>
</div>