<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="stylesheet" href="./public/css/style.css" />
</head>

<body>
  <div>
    <header>
      <h1>&#127881 Potluck Party &#127881</h1>
    </header>
  </div>
</body>