<div class="">
<div class="row">
    <div class="full-border col-4 accInformation">
        <div class="module">
        <p1>User Information Here</p1>
    </div>
</div>
        <div class="full-border col-7 accAddReview">
        <p1>Add a review</p1>
        </div>
        <div class="full-border col-4 accMyReview">
            <p1>My Reviews</p1>
        </div>
    </div>
<div>