/* --------------------*/
/* Custom Properties   */
/* --------------------*/

:root {
  --darkest: #040303ff;
  --purple: #870058ff;
  --burgundy: #a4303fff;
  --champagne: #f2d0a4ff;
  --almond: #ffecccff;
  --tea: #c8d6afff;
}

/* --------------------*/
/* Reset               */
/* --------------------*/

/* https://piccalil.li/blog/a-modern-css-rest/ */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default font size - 1em = 16px - 2.1rem = 21px */

html {
  font-size: 62.5%;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

/* Set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Zen Antique", serif;
}

main {
  font-size: 2rem;
}

/*make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------*/
/* Utility classes     */
/* --------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em; /*looking at inline access of container (left and right side, not top and bottom)*/
  margin-inline: auto;
  max-width: 80rem;
}

.justify-center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

/* --------------------*/
/* Nav                 */
/* --------------------*/

nav {
  width: 100%;
  min-height: 15vh;
  background-color: var(--darkest);
  color: var(--almond);
  font-size: 1rem;
  text-shadow: 2px 2px 5px var(--almond);
  border-bottom: 3px double var(--purple);
}

.title-container,
.subtitle-container {
  background-color: var(--darkest);
  color: var(--almond);
}

.title-container {
  font-size: 2rem;
  border-bottom: 3px double var(--purple);
  padding: 2rem 0;
}

.title {
  font-size: 2em;
  margin-left: 0.5em;
  margin-top: 1rem;
}

.subtitle {
  text-shadow: none;
  font-size: 1.6rem;
}

.subtitle-container {
  border-bottom: 3px double var(--purple);
  padding: 1rem 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  font-size: 2em;
  margin-top: 3rem;
}

.nav-btn {
  text-decoration: none;
  color: var(--almond);
  margin: 2em;
}

.nav-btn:hover,
.city-list:hover {
  color: inherit;
  border-bottom: 3px solid var(--purple);
}

.search-prompt {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search-input {
  width: 20rem;
  height: 3rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.search-btn {
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
}

.search-form {
  display: inline-flex;
}

.search-container {
  border: 3px solid var(--purple);
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem;
}
/* --------------------*/
/* Picture carousel    */
/* --------------------*/

.hero {
  margin-bottom: 3rem;
}
.mySlides {
  /* width: 60%; */
  display: flex;
  justify-content: center;
}

.trending-header {
  background-color: var(--burgundy);
  color: var(--almond);
}

.login-container {
  flex-direction: column;
  text-align: center;
  border: 5px double black;
  border-radius: 3px;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.login-header {
  font-weight: bold;
  padding-bottom: 1rem;
}

.login-btn-container {
  padding-top: 2rem;
}

.user-container {
  padding-bottom: 2rem;
}

.login-btn {
  margin-right: 3rem;
}

.city-list,
.brand-home {
  text-decoration: none;
  color: inherit;
}

.brand-home:hover {
  color: inherit;
}

.viral-header {
  background-color: var(--tea);
  color: var(--darkest);
}

.feed-container {
  margin-top: 6rem;
}

/* --------------------*/
/* Registration page   */
/* --------------------*/

.regContainer {
  margin-top: 6rem;
  padding: 0 6rem;
}

.reg-btn {
  color: inherit;
  text-decoration: none;
}

.login-btn:hover,
.reg-btn:hover {
  color: inherit;
  opacity: 70%;
}
