<div class="error-page flex justify-center align-center">
    <div class="err-image">
        <img class="err-image" src="images/404_error.jpg" alt="hitchhiker">
    </div>

    <div class="404-message">
        <h1>Oops! This destination could not be found.</h1>
        <p>Hitchhike back to the homepage!</p>
    </div>

</div>