<div class="">
    <div class="row">
        <div class="col-4 revCategories">
            <h1 class="cityh1">City Categories</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category 1</li>
                <li class="list-group-item">Category 2</li>
                <li class="list-group-item">Category 3</li>
                <li class="list-group-item">Category 4</li>
            </ul>
        </div>
            <div class="col-7 revcatAside">
                <ol class="list-group list-group-flush">
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                    <li class="list-group-item">Review</li>
                </ol>
        </div>
    </div>
</div>