<section class="hero flex">
  <img class="mySlides" src="images/tokyo_city_life.jpg" alt="Tokyo" />
  <img class="mySlides" src="images/safari_elephants.jpg" alt="South African Safari" />
  <img class="mySlides" src="images/taipei_raohe_night_market.jpg" alt="night market in Taiwan" />
  <img class="mySlides" src="images/man_at_summit.jpg" alt="man at summit" />
  <img class="mySlides" src="images/floating_market_thailand.jpg" alt="market on the water" />
  <img class="mySlides" src="images/friends_eating.jpg" alt="friends eating" />
  <img class="mySlides" src="images/gum_wall_seattle.jpg" alt="gum wall in Seattle" />
  <img class="mySlides" src="images/hot_air_balloons.jpg" alt="hot air balloons" />
  <img class="mySlides" src="images/kayaking_in_canada.jpg" alt="woman kayaking" />
  <img class="mySlides" src="images/crater_lake.jpg" alt="crater lake on Oregon coast" />
  <img class="mySlides" src="images/temple_south_korea.jpg" alt="Temple in South Korea" />
</section>

<section class="trending-cities flex justify-center">
  <div class="card shadow-lg">
    <div class="trending-header card-header text-center">
      Trending Cities - U.S.📈
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">1. <a class="city-list" href=""> San Francisco, CA</a></li>
      <li class="list-group-item">2. <a class="city-list" href=""> Denver, CO</a></li>
      <li class="list-group-item">3. <a class="city-list" href=""> New York, NY</a></li>
      <li class="list-group-item"> 4. <a class="city-list" href=""> Seattle, WA</a></li>
      <li class="list-group-item">5. <a class="city-list" href=""> Portland, OR</a></li>
    </ul>
  </div>

  <div class="card shadow-lg">
    <div class="trending-header card-header text-center">
      Trending Cities - World📈
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">1. <a class="city-list" href=""> Tokyo, Japan</a></li>
      <li class="list-group-item">2. <a class="city-list" href=""> Banff, Alberta, Canada</a></li>
      <li class="list-group-item">3. <a class="city-list" href=""> Paris, France</a></li>
      <li class="list-group-item">4. <a class="city-list" href=""> Dubai, United Arab Emirates</a></li>
      <li class="list-group-item">5. <a class="city-list" href="">South Island, New Zealand</a></li>
    </ul>
  </div>
</section>

<section class="feed-container container">
  <div class="card shadow-lg">
    <div class="viral-header card-header text-center">
      Viral Reviews 📈
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="city-list" href="">"I loved it here!" -Brad</a></li>
      <li class="list-group-item"><a class="city-list" href="">"I'd recommend this to anyone!" -Amy</a></li>
      <li class="list-group-item"><a class="city-list" href="">"Avoid like the plague!!" -travel_junkie</a></li>
      <li class="list-group-item"><a class="city-list" href="">"If you love craft beer is much as I do, this is a
          must!" -beerlover</a></li>
      <li class="list-group-item"><a class="city-list" href="">"This market is bursting with local culture!" -Leni</a>
      </li>
    </ul>
  </div>
</section>

<section id="login" class="login-container container flex justify-center shadow-lg">
  {{#if logged_in}}
  {{> createReview}}
  {{else}}
  {{> login}}
  {{/if}}
</section>
<script src="js/homepage.js"></script>