<section class="hero flex">
  <img class="mySlides" src="images/tokyo_city_life.jpg" alt="Tokyo" />
  <img class="mySlides" src="images/safari_elephants.jpg" alt="South African Safari" />
  <img class="mySlides" src="images/taipei_raohe_night_market.jpg" alt="night market in Taiwan" />
  <img class="mySlides" src="images/man_at_summit.jpg" alt="man at summit" />
  <img class="mySlides" src="images/floating_market_thailand.jpg" alt="market on the water" />
  <img class="mySlides" src="images/friends_eating.jpg" alt="friends eating" />
  <img class="mySlides" src="images/gum_wall_seattle.jpg" alt="gum wall in Seattle" />
  <img class="mySlides" src="images/hot_air_balloons.jpg" alt="hot air balloons" />
  <img class="mySlides" src="images/kayaking_in_canada.jpg" alt="woman kayaking" />
  <img class="mySlides" src="images/crater_lake.jpg" alt="crater lake on Oregon coast" />
  <img class="mySlides" src="images/temple_south_korea.jpg" alt="Temple in South Korea" />
</section>

<section class="trending-cities flex justify-center">
  <div class="card shadow-lg">
    <div class="trending-header card-header text-center">
      Trending Cities - U.S.📈
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">1. San Francisco, CA</li>
      <li class="list-group-item">2. Denver, CO</li>
      <li class="list-group-item">3. New York, NY</li>
      <li class="list-group-item">4. Seattle, WA</li>
      <li class="list-group-item">5. Portland, OR</li>
    </ul>
  </div>

  <div class="card shadow-lg">
    <div class="trending-header card-header text-center">
      Trending Cities - World📈
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">1. Tokyo, Japan</li>
      <li class="list-group-item">2. Banff, Alberta, Canada</li>
      <li class="list-group-item">3. Paris, France</li>
      <li class="list-group-item">4. Dubai, United Arab Emirates</li>
      <li class="list-group-item">5. South Island, New Zealand</li>
    </ul>
  </div>
</section>

<section class="feed-container container">
  <div class="card shadow-lg">
    <div class="viral-header card-header text-center">
      Viral Reviews 📈
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">"I loved it here!" -Brad</li>
      <li class="list-group-item">"I'd recommend this to anyone!" -Amy</li>
      <li class="list-group-item">"Avoid like the plague!!" -travel_junkie</li>
      <li class="list-group-item">"If you love craft beer is much as I do, this is a
        must!" -beerlover</li>
      <li class="list-group-item">"This market is bursting with local culture!" -Leni</li>
    </ul>
  </div>
</section>

<section id="login" class="login-container container flex justify-center shadow-lg">
  {{#if logged_in}}
  {{> createReview}}
  {{else}}
  {{> login}}
  {{/if}}
</section>

<script src="js/homepage.js"></script>