<form action="/register" method="POST">
  <div class="regContainer text-center">
    <h1>
      Begin your adventure.
    </h1>
    <p>
      Fill in this form to create an account.
    </p>
    <hr />
    <div class="reg-input-fields">
      <label for="fname">
        <b>
          First Name
        </b>
      </label>
      <input type="text" placeholder="First Name" name="fname" id="fname" required />
      <label for="lname">
        <b>
          Last Name
        </b>
      </label>
      <input type="text" placeholder="Last Name" name="lname" id="lname" required />
      <br />
      <br />
      <label for="location">
        <b>
          Location
        </b>
      </label>
      <input type="text" placeholder="City, State/Country" name="location" id="location" required />

      <label for="username">
        <b>
          Username
        </b>
      </label>
      <input type="text" placeholder="Username" name="username" id="username" required />
      <br>
      <br>
      <label for="email">
        <b>
          Email
        </b>
      </label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required />

      <label for="password">
        <b>
          Password
        </b>
      </label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required />
    </div>
    <hr />
    <button type="submit" class="submit-reg-btn">
      Register
    </button>
  </div>
  <div class="container signin text-center">
    <p>
      Already have an account?
      <a href="/homepage#login">
        Sign in
      </a>
      .
    </p>
  </div>
</form>

<script src="/js/register.js"></script>